body {
  font-family: 'Raleway', sans-serif;
}
a {
  color: white;
  list-style: none;
  font-size: 14px;
}
li {
  list-style-type: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
.text-white {
  color: white;
}
.test {
  border: 1px solid red;
}
.header {
  background: url(../header-img/backgraund.png);
  height: 1080px;
  background-size: cover;
}
.header .header-logo {
  padding-top: 30px;
}
.header .header-logo .header-text-logo {
  margin-top: 5px;
  text-align: center;
  color: white;
}
.header .header-logo .header-logo-img {
  float: left;
}
.header .header-logo .header-nav {
  width: 100%;
  height: 100%;
}
.header .header-logo .header-nav .header-main-list {
  height: 100%;
  width: 100%;
}
.header .header-logo .header-nav .header-list {
  margin: 0 10px 0 10px;
}
.header .header-logo .icon-cart {
  margin-right: 20px;
}
.header .header-main {
  width: 100%;
  height: 850px;
  padding: 40px 0 40px 0;
}
.header .header-main .header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}
.header .header-main .header-slider .slide {
  width: 100%;
  height: 100%;
  border: 0;
}
.header .header-main .header-slider .slide .smoll-text {
  font-size: 36px;
  color: white;
  line-height: 1.5;
}
.header .header-main .header-slider .slide .slick-list {
  overflow: hidden;
}
.header .header-main .header-slider .slide .big-text {
  font-size: 52px;
  color: white;
  font-weight: bold;
}
.header .header-main .header-slider .slide .header-main-bttn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: 0;
  margin-top: 30px;
}
.header .header-main .header-slider .slick-prev:before,
.header .header-main .header-slider .slick-next:before {
  display: none;
}
.header .header-main .header-slider .slick-prev,
.header .header-main .header-slider .slick-next {
  width: 50px;
  height: 50px;
  z-index: 5;
}
.header .header-main .header-slider .slick-prev,
.header .header-main .header-slider .slick-prev:hover,
.header .header-main .header-slider .slick-prev:focus {
  left: 10px;
  background: url(../header-img/arrow-left.png) center no-repeat;
}
.header .header-main .header-slider .slick-next,
.header .header-main .header-slider .slick-next:hover,
.header .header-main .header-slider .slick-next:focus {
  right: 10px;
  background: url(../header-img/arrow-right.png) center no-repeat;
}
.section1 .section1-LOGO {
  padding: 80px 0 80px 0;
}
.section1 .section1-LOGO .section1-P {
  font-size: 10px;
  margin: 10px 0 10px 0;
}
.section1 .section1-LOGO .section1-img {
  margin: 10px 0 30px 0;
  height: 20%;
  width: 100%;
}
.section1 .section1-LOGO .section1-line {
  margin: 20px 0 0 0;
  width: 30%;
  height: 3px;
  background-color: #f1eee9;
}
.section1 .section1-LOGO .bg-color:hover {
  color: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section1 .section1-LOGO .section1-line-hover:hover {
  background-color: #c7b299 ;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section2 {
  width: 100%;
  background-color: #fbfaf8;
}
.section2 .section2-logo {
  padding: 90px;
}
.section2 .section2-logo .section2-logo-text {
  padding-top: 20px;
}
.section2 .section2-main {
  width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section2 .section2-main .section2-main-content {
  max-width: 770px;
  max-height: 400px;
  z-index: 1;
}
.section2 .section2-main .section2-main-content2 {
  width: 770 ;
  height: 482;
  position: absolute ;
  z-index: 10;
  bottom: 0%;
}
.section3 .section3-logo {
  margin-top: 50px;
}
.section3 .section3-logo h1 {
  padding: 10px;
  font-size: 30px;
  font-weight: 400;
}
.section3 .section3-logo p {
  padding: 20px;
}
.section3 .section3-logo .section3-list {
  margin: 0 10px 0 10px;
  padding: 10px 24px 10px 24px;
  border-radius: 3px;
  border: 1px solid #ececec;
  font-weight: lighter;
  color: black;
}
.section3 .section3-logo .section3-list:hover {
  background-color: #998675;
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
}
.section3 .section3-main {
  margin: 30px 0 0 0;
  width: 100%;
}
.section3 .section3-main .section3-main-padding {
  margin-bottom: 40px;
}
.section3 .section3-main .section3-main-padding .section-main-img {
  width: 90%;
  height: 60%;
}
.section3 .section3-main .section3-main-padding .section-main-img .section3-img {
  width: 370px;
  height: 237px;
}
.section3 .section3-main .section3-main-padding .section3-main-text {
  background-color: #fbfaf8;
  padding: 20px;
}
.section3 .section3-main .section3-main-padding .section3-main-text h2 {
  font-size: 20px;
  color: #c7b299;
}
.section3 .section3-main .section3-main-padding .section3-main-text p {
  font-size: 14px;
}
.section3 .section3-main .section3-button {
  padding: 10px 50px 10px 50px;
  border-radius: 4px;
  text-transform: uppercase;
  border: 0;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
          box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  margin-bottom: 100px;
  margin-top: 30px;
  font-size: 14px;
  background-color: #998675;
  color: white;
}
.section4 {
  height: 700px;
  background: url(../section4-img/photo.png) no-repeat center center;
}
.section4 .section4-item1-flex {
  width: 100%;
  height: 50%;
}
.section4 .section4-play {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  padding: 10px;
  border-radius: 50%;
  background-color: #5e6065;
  opacity: 0.75;
}
.section4 .section4-text {
  color: white;
}
.section4 .section4-text h1 {
  padding: 0 0 10px 0;
}
.section4 .section4-text .section4-time {
  color: #c7b299 ;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.section5 .section5-main {
  margin-top: 100px;
}
.section5 .section5-main .section5-main-text h1 {
  font-size: 30px;
  padding: 10px 0 20px 0 ;
}
.section5 .section5-main .section5-main-text p {
  text-align: justify;
}
.section5 .section5-main .section5-arrow-text {
  padding: 50px 0 0 50px;
  width: 700px;
}
.section5 .section5-main .section5-arrow-text li {
  padding: 5px 0 5px 0;
}
.section6 {
  width: 100%;
  height: 300px;
  background: url(../section6-img/Background.png) no-repeat center center;
  color: white;
}
.section6 .section6-content {
  position: relative;
}
.section6 .section6-content .section6-line {
  width: 20%;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}
.section6 .section6-content h1 {
  padding: 10px 0 10px 0;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}
.section6 .section6-content p {
  color: #c7b299;
}
.section7 {
  width: 100%;
}
.section7 .section7-logo {
  padding: 50px;
}
.section7 .section7-logo p {
  padding: 20px;
  line-height: 1.7;
}
.section7 .section7-content .section7-all-content .section7-img1 {
  background: url(../section7-img/photo.png) no-repeat;
  height: 220px;
}
.section7 .section7-content .section7-all-content .section7-img2 {
  background: url(../section7-img/photo2.png) no-repeat;
  height: 220px;
}
.section7 .section7-content .section7-all-content .section7-img3 {
  background: url(../section7-img/photo3.png) no-repeat;
  height: 220px;
}
.section7 .section7-content .section7-all-content .calendar {
  width: 50px;
  height: 80px;
  padding-top: 20px;
  margin-left: 20px;
}
.section7 .section7-content .section7-all-content .calendar .calendar-number {
  width: 100%;
  height: 60%;
  background-color: #c7b299;
  opacity: 0.9;
  color: white;
}
.section7 .section7-content .section7-all-content .calendar .calendar-text {
  width: 100%;
  height: 40%;
  background-color: #a48d72;
  color: white;
  opacity: 0.9;
}
.section7 .section7-content .section7-all-content .section7-main-content-text {
  background-color: #362f2d;
  padding: 30px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text .js-bg-color-h1 {
  font-size: 20px;
  margin: 20px 0 20px 0;
  color: #bda992;
}
.section7 .section7-content .section7-all-content .section7-main-content-text .js-bg-color-p {
  text-align: justify;
  font-size: 14px;
  margin: 10px 0 10px 0;
  color: #ffffff;
}
.section7 .section7-content .section7-all-content .section7-main-content-text a {
  color: #706358;
  margin-top: 20px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text a .section7-href-img {
  margin-left: 15px;
}
.section7 .section7-content .section7-all-content .calendar1 {
  width: 50px;
  height: 80px;
  padding-top: 20px;
  margin-left: 20px;
}
.section7 .section7-content .section7-all-content .calendar1 .calendar-number1 {
  width: 100%;
  height: 60%;
  background-color: #363636;
  opacity: 0.9;
  color: white;
}
.section7 .section7-content .section7-all-content .calendar1 .calendar-text1 {
  width: 100%;
  height: 40%;
  background-color: #252525;
  color: white;
  opacity: 0.9;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-1 {
  padding: 30px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-1 .js-bg-color-h1-1 {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-1 .js-bg-color-p-1 {
  text-align: justify;
  font-size: 14px;
  margin: 10px 0 10px 0;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-1 a {
  color: #e1d6c9;
  margin-top: 20px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-1 a .section7-href-img {
  margin-left: 15px;
}
.section7 .section7-content .section7-all-content .calendar3 {
  width: 50px;
  height: 80px;
  padding-top: 20px;
  margin-left: 20px;
}
.section7 .section7-content .section7-all-content .calendar3 .calendar-number3 {
  width: 100%;
  height: 60%;
  background-color: #363636;
  opacity: 0.9;
  color: white;
}
.section7 .section7-content .section7-all-content .calendar3 .calendar-text3 {
  width: 100%;
  height: 40%;
  background-color: #252525;
  color: white;
  opacity: 0.9;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-3 {
  padding: 30px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-3 .js-bg-color-h1-3 {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-3 .js-bg-color-p-3 {
  text-align: justify;
  font-size: 14px;
  margin: 10px 0 10px 0;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-3 a {
  color: #e1d6c9;
  margin-top: 20px;
}
.section7 .section7-content .section7-all-content .section7-main-content-text-3 a .section7-href-img {
  margin-left: 15px;
}
.section7 .section7-content button {
  border: none;
  background-color: white;
  outline: none;
}
.section7 .section7-content .section7-arrow {
  margin-bottom: 100px;
  margin-top: 100px;
}
.section8 {
  background: url(../section8-img/back.png) no-repeat;
  width: 100%;
}
.section8 .section8-content {
  margin: 100px 0 100px 0;
}
.section9 {
  padding: 150px;
  background-color: #191919;
}
.section9 h2 {
  margin: 20px 0 40px 0;
  color: white;
  text-align: justify;
}
.section9 .section9-content1 .section9-Waxom-img {
  float: left;
}
.section9 .section9-content1 .section9-Waxom-text {
  color: white;
  text-align: center;
}
.section9 .section9-content1 .section9-lorem {
  margin: 60px 0 60px 0;
  color: #4b4b4b;
  line-height: 1.6;
}
.section9 .section9-content1 a {
  color: #e1d6c9;
}
.section9 .section9-content1 a img {
  margin-left: 20px;
}
.section9 .section9-content-lorem {
  color: #4b4b4b;
  font-size: 14px;
  text-align: justify;
}
.section9 .section9-content-lorem a {
  color: #00bff3;
}
.section9 .section9-calendar-text {
  color: #343434;
}
.section9 .section9-content-lorem2 {
  color: #c7b299;
  font-size: 14px;
  text-align: justify;
}
.section9 .section9-calendar-text2 {
  color: #dfdfdf;
}
.footer {
  background-color: #111111;
  height: 100px;
}
.footer li {
  margin-left: 5px;
  font-size: 14px;
  color: #555555;
}
.footer .border-line {
  border-right: 1px solid #252525;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  color: #555555;
}
.footer .footer-color-white {
  color: #7b7b7b;
}
@media (min-width: 992px) {
  .header-list {
    margin: 0 10px 0 20px;
    display: inline-block;
  }
  .all-display {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .header-list {
    margin: 0 10px 0 30px;
    display: inline-block;
  }
  .header-list .all-display {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
@media (min-width: 576px) {
  .header-list {
    margin: 0 10px 0 30px;
  }
}
